$light: #fff;
$backgroudColor:#E5E5E5;

$greyScale0: #fff;
$greyScale200:#E9EBEE;
$greyScale600:#999A9B;
$greyScale700: #848587;
$greyScale900:#1C1C1C;

$pink100:#FFCAE0;

$red500:#F3151B;
$red600:#E20F15;


$green100:#A3F9B9;
$green400:#40B25C;
$green600:#1E9631;
